<!-- //section6 -->
<div class="wsite-section-wrap">
  <div
    class="wsite-section wsite-body-section wsite-section-bg-image wsite-background-4"
    style="
      height: 636px;
      background-image: url(./assets/VOXELUP/dental4.jpg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100%;
      background-color: transparent;
      background-size: cover;
    "
  >
    <div class="wsite-section-content">
      <div class="container">
        <div class="wsite-section-elements">
          <div>
            <div class="wsite-multicol">
              <div class="wsite-multicol-table-wrap" style="margin: 0 -15px;">
                <table class="wsite-multicol-table">
                  <tbody class="wsite-multicol-tbody">
                    <tr class="wsite-multicol-tr">
                      <td
                        class="wsite-multicol-col"
                        style="width: 49.152542372881%; padding: 0 15px;"
                      >
                        <h2
                          class="wsite-content-title"
                          style="text-align: right;"
                        >
                          <font color="#ffffff"
                            >Our&nbsp;​Report Card Worth Bragging About</font
                          >
                        </h2>

                        <div class="paragraph" style="text-align: right;">
                          <font color="#ffffff"
                            >Our company started with a collaboration between a
                            well experienced endodontic surgeon and a software
                            developer.<br />Now we are a team of 6 highly<br />skilled
                            engineers who can think out of the box<br />and
                            endodontic surgeons to mentor and feed real world
                            problems.</font
                          >
                        </div>

                        <div style="text-align: right;">
                          <div style="height: 10px; overflow: hidden;"></div>
                          <a
                            class="wsite-button wsite-button-small wsite-button-highlight"
                            routerLink="/contact"
                          >
                            <span class="wsite-button-inner"
                              >find out more</span
                            >
                          </a>
                          <div style="height: 10px; overflow: hidden;"></div>
                        </div>
                      </td>
                      <td
                        class="wsite-multicol-col"
                        style="width: 6.6854990583804%; padding: 0 15px;"
                      >
                        <div class="wsite-spacer" style="height: 50px;"></div>
                      </td>
                      <td
                        class="wsite-multicol-col"
                        style="width: 44.161958568738%; padding: 0 15px;"
                      >
                        <div class="wsite-spacer" style="height: 15px;"></div>

                        <div class="wsite-spacer" style="height: 72px;"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="wsite-multicol">
    <div class="wsite-multicol-table-wrap" style="margin: 0 -15px;">
      <table class="wsite-multicol-table">
        <tbody class="wsite-multicol-tbody">
          <tr class="wsite-multicol-tr">
            <td class="wsite-multicol-col" style="width: 50%; padding: 0 15px;">
              <div id="214150464324825686">
                <div>
                  <div
                    id="element-352e301c-f5fe-402f-bf4a-d7f0da372c5e"
                    data-platform-element-id="859636669115165528-1.1.6"
                    class="platform-element-contents"
                  >
                    <div class="counter-element">
                      <div class="counter-label counter-top-label"></div>
                      <div class="counter-number">
                        <div class="content-number-bold"></div>
                      </div>
                      <div class="counter-label counter-bottom-label">
                        <div class="paragraph">
                          <font color="#d5d5d5">MONTHS IN BUSNESS</font>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="clear: both;"></div>
                </div>
              </div>

              <div class="wsite-spacer" style="height: 65px;"></div>
            </td>
            <td class="wsite-multicol-col" style="width: 50%; padding: 0 15px;">
              <div id="535643820763735041">
                <div>
                  <div
                    id="element-873120d9-b242-4a1b-9a27-2e6fd59f1847"
                    data-platform-element-id="859636669115165528-1.1.6"
                    class="platform-element-contents"
                  >
                    <div class="counter-element">
                      <div class="counter-label counter-top-label"></div>
                      <div class="counter-number">
                        <div class="content-number-bold"></div>
                      </div>
                      <div class="counter-label counter-bottom-label">
                        <div class="paragraph">
                          <font color="#d5d5d5">HAPPY CLIENTS</font>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="clear: both;"></div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
