<!-- //section2 -->
<div class="banner-wrap">
    <div class="wsite-elements wsite-not-footer wsite-header-elements">
      <div class="wsite-section-wrap">
        <div
          class="wsite-section wsite-header-section wsite-section-bg-image"
          style="
            vertical-align: middle;
            background-image: url(./assets/VOXELUP/dental1.jpg);
            background-repeat: no-repeat;
            background-position: undefined undefined;
            background-size: 100%;
            background-color: transparent;
            background-size: cover;
          " 
        >
          <div class="wsite-section-content">
            <div class="container">
              <div class="banner">
                <div class="wsite-section-elements">
                  <h2 class="wsite-content-title" style="text-align: center;">
                    <font color="#ffffff">Designed with Love and Passion.</font
                    ><br />
                  </h2>
  
                  <div class="paragraph" style="text-align: center;">
                    <font color="#f8f8f8" size="4"
                      >To the one who really care endodontics.</font
                    >
                  </div>
  
                  <div style="text-align: center;">
                    <div style="height: 10px; overflow: hidden;"></div>
                    <a
                      class="wsite-button wsite-button-large wsite-button-highlight"
                      routerLink="/products"
                    >
                      <span class="wsite-button-inner">find out more</span>
                    </a>
                    <div style="height: 40px; overflow: hidden;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=""></div>
        </div>
      </div>
    </div>
  </div>