<div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-4">Covid-19 Tracker</h1>
      <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut laudantium laborum eveniet quaerat recusandae suscipit tempore commodi delectus est reprehenderit dolorem, voluptates dolores officiis a cum similique? Quidem, sequi iure.</p>
    </div>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore cupiditate, et perspiciatis numquam explicabo nisi enim laborum consectetur eius qui nulla deserunt sed suscipit aut repudiandae fuga at rem aliquam?</p>
</div>