<body
  class="no-header-page wsite-page-products collapsed-menu-off banner-bg-off wsite-theme-light fade-in-nav"
>
  <div class="site-overlay"></div>
  <div class="wrapper">
    <app-navbar></app-navbar>

    <div class="main-wrap">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
        <div class="wsite-section-wrap">
          <div
            class="wsite-section wsite-body-section wsite-background-10"
            style="height: 797px;"
          >
            <div class="wsite-section-content">
              <div class="container">
                <div class="wsite-section-elements">
                  <h2 class="wsite-content-title" style="text-align: center;">
                    Our Team
                  </h2>

                  <div class="paragraph" style="text-align: center;">
                    <span style="color: rgb(161, 161, 161);"></span>A team with
                    a combination of well experienced endodontists and software
                    engineers, Company committed to the creation of the highest
                    quality software products for dentists, with its focus on
                    the improvement of dental practices and improvement of
                    patient care. We are professionals from the fields of
                    dentistry, management and software development, has combined
                    its unique knowledge of dentistry with cutting edge
                    information technology tools to create the most complete and
                    user- friendly business solutions for dental practice.
                    <span style="color: rgb(161, 161, 161);">
                      <br />
                    </span>
                  </div>
                </div>
              </div>

              <div class="wsite-multicol">
                <div class="wsite-multicol-table-wrap" style="margin: 0 -0px;">
                  <table class="wsite-multicol-table">
                    <tbody class="wsite-multicol-tbody">
                      <tr class="wsite-multicol-tr">
                        <td
                          class="wsite-multicol-col"
                          style="width: 33.333333333333%; padding: 0 0px;"
                        >
                          <div id="499993303855335332"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-sec7></app-sec7>
  </div>
</body>
