<!-- //section4 -->
<div class="wsite-section-wrap">
    <div
      class="wsite-section wsite-body-section wsite-section-bg-image wsite-background-2"
      style="
        height: 594px;
        background-image: url(./assets/VOXELUP/dental3.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
        background-color: transparent;
        background-size: cover;
      "
    >
      <div class="wsite-section-content">
        <div class="container">
          <div class="wsite-section-elements">
            <div>
              <div class="wsite-multicol">
                <div class="wsite-multicol-table-wrap" style="margin: 0 -15px;">
                  <table class="wsite-multicol-table">
                    <tbody class="wsite-multicol-tbody">
                      <tr class="wsite-multicol-tr">
                        <td
                          class="wsite-multicol-col"
                          style="width: 14.66666660664%; padding: 0 15px;"
                        >
                          <div class="wsite-spacer" style="height: 50px;"></div>
                        </td>
                        <td
                          class="wsite-multicol-col"
                          style="width: 79.428571103493%; padding: 0 15px;"
                        >
                          <div
                            id="element-83cad0e1-fcb2-4182-a1f3-46837e90c8f0"
                            data-platform-element-id="848857247979793891-1.0.1"
                            class="platform-element-contents"
                          >
                            <div class="colored-box">
                              <div class="colored-box-content">
                                <div style="width: auto;">
                                  <div></div>
                                  <h2
                                    class="wsite-content-title"
                                    style="text-align: center;"
                                  >
                                    <font color="#ffffff">Who we are</font>
                                  </h2>
  
                                  <div
                                    class="paragraph"
                                    style="text-align: center;"
                                  >
                                    <font color="#ffffff" size="4"
                                      >A team with a combination of well
                                      experienced endodontists and software
                                      engineers, Company committed to the creation
                                      of the highest quality software products for
                                      dentists, with its focus on the improvement
                                      of dental practices and improvement of
                                      patient care. We are professionals from the
                                      fields of dentistry, management and software
                                      development, has combined its unique
                                      knowledge of dentistry with cutting edge
                                      information technology tools to create the
                                      most complete and user- friendly business
                                      solutions for dental practice.<br /><br />We
                                      have top quality support and training staff
                                      always available for our clients. We have
                                      dedicated ourselves to continuing,
                                      personalized services and the creation of
                                      software products, highly customized, to
                                      meet the needs of our every client.​</font
                                    >
                                  </div>
  
                                  <div style="text-align: center;">
                                    <div
                                      style="height: 30px; overflow: hidden;"
                                    ></div>
                                    <a
                                      class="wsite-button wsite-button-large wsite-button-highlight"
                                      routerLink="/team"
                                    >
                                      <span class="wsite-button-inner"
                                        >find out more</span
                                      >
                                    </a>
                                    <div
                                      style="height: 10px; overflow: hidden;"
                                    ></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div style="clear: both;"></div>
                        </td>
                        <td
                          class="wsite-multicol-col"
                          style="width: 5.9047622898669%; padding: 0 15px;"
                        >
                          <div class="wsite-spacer" style="height: 50px;"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>