/* .customer-accounts-app__body[data-v-364d7bb4] {
  width: 100%;
}
.customer-accounts-app__modal-wrapper[data-v-364d7bb4] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
}
.customer-accounts-app__modal[data-v-364d7bb4] {
  width: 580px;
  box-sizing: border-box;
  max-height: 100%;
  min-height: 415px;
  overflow-y: auto;
  z-index: 18;
  padding: 24px;
  background: #fff;
  display: flex;
}
.wsite-theme-dark .customer-accounts-app__modal-wrapper[data-v-364d7bb4] {
  background: hsla(0, 0%, 100%, 0.25);
}
.wsite-theme-dark .customer-accounts-app__modal[data-v-364d7bb4] {
  background: #000;
}
@media (max-width: 750px) {
  .customer-accounts-app__modal[data-v-364d7bb4] {
    width: 100%;
    height: 100%;
  }
}
.loading[data-v-09548d63] {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
.page-header__wrapper[data-v-04176401] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.page-header__text[data-v-04176401] {
  margin: 0 32px 0 0;
}
.page-header__divider[data-v-04176401] {
  height: 1px;
  width: 100%;
  margin: 24px 0;
  background: rgba(0, 0, 0, 0.1);
}
.form-field[data-v-64b6436e] {
  margin: 16px 0;
}
.form-field__label[data-v-64b6436e] {
  display: flex;
  flex-direction: column;
}
.form-field__title[data-v-64b6436e] {
  margin-bottom: 8px;
  font-size: 90%;
  color: #3b526d;
}
.wsite-theme-dark .form-field__title[data-v-64b6436e] {
  color: #dfe6ee;
}
.form-field__error[data-v-64b6436e] {
  margin-top: 14px;
}
.field-error[data-v-60fd9ad5] {
  color: #ff2825;
}
.form-instructions[data-v-1b20c747] {
  margin-bottom: 24px;
}
.site-input[data-v-7c9d3469] {
  border: 1px solid #dbdbdb;
  padding: 8px;
  border-radius: 2px;
}
.site-input__is-invalid[data-v-7c9d3469] {
  border: 1px solid #ff2825;
}
.actions-row[data-v-e3a0cd02] {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.actions-row div[data-v-e3a0cd02]:first-child {
  margin-right: 16px;
}
.back-button[data-v-089f4bca] {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.back-button__icon[data-v-089f4bca] {
  margin: 0 8px 0 0;
}
p[data-v-5e8be7b5] {
  font-weight: 700;
}
.order-confirmation__checkbox[data-v-5e8be7b5] {
  margin-right: 6px;
}
.order-confirmation__success-message[data-v-5e8be7b5] {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.register__privacy-policy[data-v-00b778c0] {
  margin: 24px 0;
  font-size: small;
}
.customer-accounts-app__body[data-v-a6d2e276] {
  width: 100%;
}
.customer-accounts-app__modal-wrapper[data-v-a6d2e276] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
}
.customer-accounts-app__modal[data-v-a6d2e276] {
  width: 580px;
  box-sizing: border-box;
  max-height: 100%;
  min-height: 415px;
  overflow-y: auto;
  z-index: 18;
  padding: 24px;
  background: #fff;
  display: flex;
}
.wsite-theme-dark .customer-accounts-app__modal-wrapper[data-v-a6d2e276] {
  background: hsla(0, 0%, 100%, 0.25);
}
.wsite-theme-dark .customer-accounts-app__modal[data-v-a6d2e276] {
  background: #000;
}
@media (max-width: 600px) {
  .customer-accounts-app__modal[data-v-a6d2e276] {
    width: 100%;
    height: 100%;
  }
}
.account-details__wrapper[data-v-4c887ac0] {
  width: 100%;
}
.account-details__group[data-v-4c887ac0] {
  margin-bottom: 24px;
  text-align: left;
}
.account-details__table-container[data-v-4c887ac0] {
  overflow: auto;
}
.account-details__title[data-v-4c887ac0] {
  text-align: left;
  margin-bottom: 6px;
}
.account-details__log-out[data-v-4c887ac0] {
  cursor: pointer;
}
.account-details__error[data-v-4c887ac0] {
  margin: 36px 0;
  text-align: left;
}
.error[data-v-4c887ac0] {
  color: #ff2825;
}
.section-header__wrapper[data-v-1e785cc9] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section-header__text[data-v-1e785cc9] {
  margin: 24px 0;
}
.empty-content-area__container[data-v-8fbca36e] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  width: 100%;
  min-height: 80px;
  background: #f2f2f2;
}
.wsite-theme-dark .empty-content-area__container[data-v-8fbca36e] {
  background: #000;
}
.order-details__table[data-v-244ed988] {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 36px;
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}
.order-details__table th[data-v-244ed988] {
  margin: 0;
  padding: 16px;
  text-align: left;
  background: #f2f2f2;
}
.wsite-theme-dark .order-details__table th[data-v-244ed988] {
  background: #000;
}
.order-details__table td[data-v-244ed988] {
  margin: 0;
  padding: 16px;
  text-align: left;
}
.shipping-address__wrapper[data-v-4fc55e12] {
  text-align: left;
  width: 100%;
}
.reset-password__link[data-v-72d92d0c] {
  cursor: pointer;
} */
