<!-- //section7 -->
<div class="wsite-section-wrap">
    <div
      class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-6"
      style="
        height: 795px;
        background-color: #37494d;
        background-image: none;
        is_customized: 1;
      "
    >
      <div class="wsite-section-content">
        <div class="container">
          <div class="wsite-section-elements">
            <h2 class="wsite-content-title" style="text-align: center;">
              <font color="#ffffff">Contact Us</font>
            </h2>
  
            <div class="paragraph" style="text-align: center;">
              <font color="#d5d5d5"
                >Contact us to know more about our products and services.</font
              >
            </div>
  
            <div class="paragraph" style="text-align: center;">
              <font color="#fffbfb"
                >#399/8. Ground Floor, Kaduvinal, Vallikunnam,<br />Kerala - IN
                690501<br /><br />Phone : +91 8086 313252<br />Email :
                contact@voxelup.in</font
              >
            </div>
  
            <div style="text-align: center;">
              <div style="height: 10px; overflow: hidden;"></div>
              <a
                class="wsite-button wsite-button-small wsite-button-highlight"
                routerLink="/contact"
              >
                <span class="wsite-button-inner">Contact us</span>
              </a>
              <div style="height: 10px; overflow: hidden;"></div>
            </div>
  
            <div>
              <div style="height: 20px; overflow: hidden; width: 100%;"></div>
              <hr class="styled-hr" style="width: 100%;" />
              <div style="height: 20px; overflow: hidden; width: 100%;"></div>
            </div>
  
            <div>
              <div class="wsite-multicol">
                <div class="wsite-multicol-table-wrap" style="margin: 0 -15px;">
                  <table class="wsite-multicol-table">
                    <tbody class="wsite-multicol-tbody">
                      <tr class="wsite-multicol-tr">
                        <td
                          class="wsite-multicol-col"
                          style="width: 31.613508380811%; padding: 0 15px;"
                        >
                          <div class="wsite-spacer" style="height: 50px;"></div>
                        </td>
                        <td
                          class="wsite-multicol-col"
                          style="width: 8.5273279185083%; padding: 0 15px;"
                        >
                          <h2
                            class="wsite-content-title"
                            style="text-align: center;"
                          >
                            <strong
                              ><font size="2" color="#ffffff"
                                ><a routerLink="/"
                                  >HOME</a
                                ></font
                              ></strong
                            >
                          </h2>
                        </td>
                        <td
                          class="wsite-multicol-col"
                          style="width: 10.399180388425%; padding: 0 15px;"
                        >
                          <h2
                            class="wsite-content-title"
                            style="text-align: center;"
                          >
                            <strong
                              ><font size="2" color="#ffffff"
                                ><a routerLink="/"
                                  >PRODUCTS</a
                                ></font
                              ></strong
                            >
                          </h2>
                        </td>
                        <td
                          class="wsite-multicol-col"
                          style="width: 9.5672459573508%; padding: 0 15px;"
                        >
                          <h2
                            class="wsite-content-title"
                            style="text-align: center;"
                          >
                            <font color="#ffffff"
                              ><strong
                                ><font size="2"
                                  ><a routerLink="/team"
                                    >TEAM</a
                                  ></font
                                ></strong
                              ></font
                            >
                          </h2>
                        </td>
                        <td
                          class="wsite-multicol-col"
                          style="width: 10.438509149842%; padding: 0 15px;"
                        >
                          <h2
                            class="wsite-content-title"
                            style="text-align: center;"
                          >
                            <font color="#ffffff"
                              ><strong
                                ><font size="2"
                                  ><a routerLink="/contact"
                                    >CONTACT</a
                                  ></font
                                ></strong
                              ></font
                            >
                          </h2>
                        </td>
                        <td
                          class="wsite-multicol-col"
                          style="width: 29.454228205063%; padding: 0 15px;"
                        >
                          <div class="wsite-spacer" style="height: 50px;"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  