<div class="image-back">
<div class="container">
  <div class="mat-display-2 pad">Login Page</div>
  
  
  <form class="example-form">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label class="size">Username</mat-label>
      <input class="size" type="text" matInput placeholder="Enter Username">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label class="size">Password</mat-label>
      <input class="size" type="password" matInput placeholder="Enter Password">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label class="size">Confirm Password</mat-label>
      <input class="size" type="password" matInput placeholder="Confirm Password">
    </mat-form-field>
  </div>
  
    <button class="btn btn-dark" (click)="OnClick()">Submit</button>
  </form>
  
  </div>
</div>