.pad {
    padding-top: 2rem;
}
.example-form {
    min-width: 150px;
    max-width: 75%;
    width: 100%;
    padding: 2rem;
    border: 3px thin black;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .size {
      font-size: 1.5em;
  }
  .image-back {
      background-image: url(/assets/code2.jpg);
  }
  button {
      margin-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
  }