<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email-ID</th>
            <th>Remarks</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let field of fieldArray; let i = index">
            <td>
                <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
            </td>
            <td>
                <input [(ngModel)]="field.email" class="form-control" type="email" name="{{field.email}}" />
            </td>
            <td>
                <input [(ngModel)]="field.remarkd" class="form-control" type="text" name="{{field.remarks}}" />
            </td>
            <td>
                <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-control" type="text" id="newAttributename" [(ngModel)]="newAttribute.name" name="newAttributename" />
            </td>
            <td>
                <input class="form-control" type="email" id="newAttributeemail" [(ngModel)]="newAttribute.email" name="newAttributeemail" />
            </td>
            <td>
                <input class="form-control" type="text" id="newAttributeremark" [(ngModel)]="newAttribute.remark" name="newAttributeremark" />
            </td>
            <td>
                <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
            </td>
        </tr>
    </tbody>
</table>
<a routerLink = "inbox">Go to inbox</a>