<body
class="no-header-page wsite-page-products collapsed-menu-off banner-bg-off wsite-theme-light fade-in-nav"
>
<div class="site-overlay"></div>
<div class="wrapper">
<app-navbar></app-navbar>


    <div class="main-wrap">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
        <div class="wsite-section-wrap">
          <div class="wsite-section wsite-body-section wsite-background-7">
            <div class="wsite-section-content">
              <div class="container">
                <div class="wsite-section-elements">
                  <h2 class="wsite-content-title" style="text-align: center;">
                    Dental Analyzer<br />
                  </h2>

                  <div class="wsite-spacer" style="height: 12px;"></div>

                  <div class="paragraph" style="text-align: center;">
                    <font size="4"
                      >CBCT development has changed the way you work. From
                      VoxelUp, we are focused in creating software that improve
                      the prognosis and predictability in dental treatment.<br />We
                      are well aware of the importance of the diagnosis in
                      endodontics. We provide a better software so that you can
                      take deeper investigation of your cases.<br />We have
                      developed the best and easiest 3D Software specially
                      focused in endodontics.<br />This is not only a dicom
                      image viewer, you have advanced tools for diagonostic and
                      planning that will unveil the best access cavity in order
                      to be more conservative leading to long lasting
                      treatment.<br />With advance planning, the software will
                      reveal the complexity of the internal anatomy making the
                      treatment safer and more predictable.<br />CBCT completely
                      change your decision making, with voxelup, we empower
                      every pixel so that you make the best decisions for your
                      patients.<br />Focused in Endo!</font
                    >
                  </div>

                  <div class="wsite-spacer" style="height: 87px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wsite-section-wrap">
          <div
            class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-8"
            style="
              height: 580px;
              background-color: #313d40;
              background-image: none;
              is_customized: 1;
            "
          >
            <div class="wsite-section-content">
              <div class="container">
                <div class="iframe-container">
                  <iframe
                    width="100%"
                    height="500px"
                    src="./Products - VOXELUP_files/m_jc3OQCf1Y.html"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""
                  ></iframe>
                </div>
                <div class="wsite-section-elements">
     
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wsite-section-wrap">
          <div
            class="wsite-section wsite-body-section wsite-background-9"
            style="height: 327px;"
          >
            <div class="wsite-section-content">
              <div class="container">
                <div class="wsite-section-elements">
                  <div>
                    <div class="wsite-multicol">
                      <div
                        class="wsite-multicol-table-wrap"
                        style="margin: 0 -15px;"
                      >
                        <table class="wsite-multicol-table">
                          <tbody class="wsite-multicol-tbody">
                            <tr class="wsite-multicol-tr">
                              <td
                                class="wsite-multicol-col"
                                style="width: 50%; padding: 0 15px;"
                              >
                                <h2 class="wsite-content-title">&nbsp;</h2>
                              </td>
                              <td
                                class="wsite-multicol-col"
                                style="width: 50%; padding: 0 15px;"
                              >
                                <div
                                  class="paragraph"
                                  style="text-align: right;"
                                >
                                  Download our software and contact us to get
                                  the license.<br />​You can buy a user licence
                                  where you can enjoy all the features supported
                                  or you can get a trial licence.<br />
                                </div>

                                <div style="text-align: right;">
                                  <div
                                    style="height: 10px; overflow: hidden;"
                                  ></div>
                                  <a
                                    class="wsite-button wsite-button-small wsite-button-highlight"
                                    href="javascript:;"
                                  >
                                    <span class="wsite-button-inner"
                                      >Download</span
                                    >
                                  </a>
                                  <div
                                    style="height: 10px; overflow: hidden;"
                                  ></div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-sec7></app-sec7>

  </div> 
</body>