<!-- //section3 -->
<div class="main-wrap">
    <div id="wsite-content" class="wsite-elements wsite-not-footer">
      <div class="wsite-section-wrap">
        <div
          class="wsite-section wsite-body-section wsite-background-1"
          style="height: 627px;"
        >
          <div class="wsite-section-content">
            <div class="container">
              <div class="wsite-section-elements">
                <div>
                  <div class="wsite-multicol">
                    <div
                      class="wsite-multicol-table-wrap"
                      style="margin: 0 -15px;"
                    >
                      <table class="wsite-multicol-table">
                        <tbody class="wsite-multicol-tbody">
                          <tr class="wsite-multicol-tr">
                            <td
                              class="wsite-multicol-col"
                              style="width: 50%; padding: 0 15px;"
                            >
                              <div>
                                <div
                                  class="wsite-image wsite-image-border-none"
                                  style="
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    margin-left: 0;
                                    margin-right: 0;
                                    text-align: center;
                                  "
                                >
                                  <a>
                                    <img
                                      src="./assets/VOXELUP/smile-2072907-1920_orig.jpg"
                                      alt="Picture"
                                      style="width: auto; max-width: 100%;"
                                    />
                                  </a>
                                  <div
                                    style="display: block; font-size: 90%;"
                                  ></div>
                                </div>
                              </div>
                            </td>
                            <td
                              class="wsite-multicol-col"
                              style="width: 50%; padding: 0 15px;"
                            >
                              <h2 class="wsite-content-title">
                                What Does <strong>VoxelUp</strong>&nbsp;Look Like?
                              </h2>
  
                              <div class="paragraph" style="text-align: left;">
                                <font size="4"
                                  >From VoxelUp, we are focused in creating
                                  software that improve the prognosis and
                                  predictability in dental treatment.<br />We are
                                  we​ll aware of the importance of the diagnosis
                                  in endodontics. We provide a better software so
                                  that you can take deeper investigation of your
                                  cases.</font
                                >
                              </div>
  
                              <div
                                class="wsite-spacer"
                                style="height: 17px;"
                              ></div>
  
                              <div style="text-align: right;">
                                <div
                                  style="height: 20px; overflow: hidden;"
                                ></div>
                                <a
                                  class="wsite-button wsite-button-small wsite-button-highlight"
                                  routerLink="/products"
                                >
                                  <span class="wsite-button-inner"
                                    >find out more</span
                                  >
                                </a>
                                <div
                                  style="height: 10px; overflow: hidden;"
                                ></div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>